.tabs {
	align-self: stretch;
	font-family: 'Icons', sans-serif;
	width: 90%;
	margin: auto;
	margin-top: 1.8em;
}

.desc-paragraph {
	padding: 5px;
}

.toggle {
	cursor: pointer;
	color: #650893;
}

.detail {
	padding: 1em 0;
}

.location {
	margin-top: 1em;
}

.arrow {
	margin: 0 5px;
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 736px) {
		.tabs {
			align-self: stretch;
			font-family: 'Icons', sans-serif;
			width: 100%;
			margin: auto;
		}
	}