@font-face {
	font-family: 'Icons';
	src: url("http://localhost:8888/assets/fonts/icons.eot");
	src: url("http://localhost:8888/assets/fonts/icons.ttf") format('truetype'), 
			 url("http://localhost:8888/assets/fonts/icons.woff") format('woff'),
			 url("http://localhost:8888/assets/fonts/icons.svg") format('svg');
}