.header {
	font-family: 'Icons', sans-serif;
	margin: .5em 24.4%;
	font-size: .9em;
	color: #650893;
}

.all-hotels {
	padding-right: 4px;
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 736px) {
		.header {
			font-family: 'Icons', sans-serif;
			margin: 0;
			font-size: .8em;
		}
	}