.hotel-info, .main, .price-info, .info, .marker, .phone, .best-price, .name-stars {
	display: flex;
	font-family: 'Icons', sans-serif;
}

.hotel-info {
	justify-content: space-between;
	width: 97%;
	margin-left: 2em;
	color: #6B6C7A;
}


.main {
	flex-direction: column;
	justify-content: flex-start;
}

.hotel-name {
	font-size: 2.5em;
}

.price-info {
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 45px;
}

.price {
	font-size: 3.5em;
	color: #F48721;
}

.info {
	width: 110%;
	justify-content: space-between;
}

.mark-icon, .phone-icon, .like-icon {
	padding-right: 5px;
}

.marker {
	cursor: pointer;
}

.image {
	align-self: flex-start;
}

.rating {
	margin-top: 24px;
	margin-left: 10px;
}