.hotel-info, .main, .price-info, .info, .marker, .phone, .best-price, .name-stars {
	display: flex;
}

.hotel-info {
	justify-content: space-between;
	width: 97%;
	margin-left: 2em;
	color: darkgrey;
}


.main {
	flex-direction: column;
	justify-content: flex-start;
}

.hotel-name {
	font-size: 2.5em;
}

.price-info {
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 45px;
}

.price {
	font-size: 4em;
	color: #d87f13;
}

.info {
	width: 110%;
	justify-content: space-between;
}

.marker {
	cursor: pointer;
}

.image {
	align-self: flex-start;
}

.thumbs-up, .phone-icon {
	padding-right: 4px;
}

.rating {
	margin-top: 15px;
	margin-left: 10px;
}