.hotel-info {
	display: flex;
	justify-content: space-between;
	width: 98%;
	margin-left: 2em;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hotel-name {
	font-size: 2.5em;
}

.price-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 45px;
}

.price {
	font-size: 4em;
	color: #d87f13;
}

.info {
	display: flex;
	width: 110%;
	justify-content: space-between;
}

.marker {
	display: flex;
	cursor: pointer;
}

.image {
	align-self: flex-start;
}

.phone {
	display: flex;
}

.best-price {
	display: flex;
}

.thumbs-up, .phone-icon {
	padding-right: 4px;
}