.list-item {
	display: flex;
	justify-content: space-between;
	padding: 6px;
}

.hotels-list {
	margin-top: 1em;
}

.hotels-list {
	background-color: #e5e1e8;
}

.list-name {
	color: #650893;
}

.list-price {
	color: #6f6f70;
}