.list-item {
	display: flex;
	justify-content: space-between;
	font-family: 'Icons', sans-serif;
	padding: 6px 7px;
}

.hotels-list {
	margin-top: 1em;
}

.hotels-list {
	background-color: #EFEFEF;
	padding: 1em 0;
}

.list-name, .list-price {
	color: #895E95;
}

.list-price {
	margin-left: 1em;
}